name: lint
on:
  workflow_call:

jobs:
  lint-typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv & tox
        run: make setup

      - name: Sync rag-bench deps
        run: make sync

      - name: Lint
        run: |
          make lint

      - name: Typecheck
        run: |
          make typecheck
