
name: ci
on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install
        run: |
          python -m pip install -U pip
          pip install -e ".[dev]"
      - name: Lint (flake8)
        run: flake8
      - name: Lint (isort)
        run: isort --check-only .
      - name: Lint (black)
        run: black --check .
      - name: Tests
        run: pytest -q


- name: Build dist
  run: |
    python -m pip install build
    python -m build
