name: CI Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  unit-and-offline:
    name: Unit And Offline
    uses: ./.github/workflows/_unit_offline.yml
    with:
      marker: "unit-offline"
      coverage_suffix: "py"

  gpu-suite:
    name: GPU Suite
    uses: ./.github/workflows/_gpu.yml
    secrets: inherit
    with:
      marker: "gpu"
      coverage_suffix: "gpupy"

  coverage-collection:
    name: Coverage Collection
    needs: [unit-and-offline, gpu-suite]
    uses: ./.github/workflows/_coveralls.yml
    with:
      expect: "unit-offline,gpu"
