name: CI
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  UnitOffline:
    uses: ./.github/workflows/_unit_offline.yml
    with:
      marker: "unit-offline"
      suffix: "unit-offline"

  GPU:
    uses: ./.github/workflows/_gpu.yml
    with:
      marker: "gpu"
      suffix: "gpu"

  Coverage:
    needs: [UnitOffline, GPU]
    uses: ./.github/workflows/_coveralls.yml
    with:
      expect: "unit-offline,intgpueg"
