
name: publish-pypi
on:
  release:
    types: [released]
permissions:
  contents: read
jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Build
        run: |
          python -m pip install -U pip build twine
          python -m build
      - name: Upload to PyPI
        env:
          PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          python -m twine upload -u __token__ -p "$PYPI_API_TOKEN" dist/*
